

@{
    Layout = null;
}

@*<!DOCTYPE html>*@
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DotIt Picker</title>

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="~/all.min.css" rel="stylesheet" />
    <link href="~/simple-line-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    <link href="~/landing-page.min.css" rel="stylesheet" />
    <link href="~/landing-page.css" rel="stylesheet" />


    <!-- For collapse using this -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/css/shards-dashboards.1.1.0.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>


    @*Monika Accordion*@
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }
    </style>


</head>

<body>
    @*<meta http-equiv="Refresh" content="120" />*@

    <!-- Navigation -->
    <nav class="nav_list navbar navbar-light bg-light static-top">
        <div class="container">
            <ul>
                <li><a href="~/Picker/Index">Home</a></li>
                <li><a href="~/Picker/Orders">Orders</a></li>
                @*<li><a class="active" href="~/Picker/Pick">Pick</a></li>*@
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
    </nav>

    <!-- Row -->
    <div class="container">
        <div>
            <div class="tbl-scroll">
                <p>@ViewBag.OrderLineItems.Count</p>
                <table class="table table-borderless spc-mrg-tp-20 ">
                    <thead class="bg-blue">
                        <tr>
                            <th scope="col">Bin Location</th>
                            <th scope="col">Sku</th>
                            <th scope="col">Description</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Order</th>
                            <th scope="col">Status</th>
                            <th scope="col">Image</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var OrderLines in ViewBag.OrderLineItems as IEnumerable<DotIt.AutoPicker.Models.OrderDetModel>)
                        {
                            <tr>
                                <td>@OrderLines.BinNum</td>
                                <td>@OrderLines.PartNum</td>

                                <td>@OrderLines.LineDesc</td>
                                <td>@OrderLines.OrderQty</td>
                                <td>@OrderLines.OrderNum</td>
                                <td></td>
                                <td><img src="@OrderLines.ImageContent " alt="resume" class="icon-spc"></td>
                                <td>
                                    <button class="accordion" id="PickButton+@OrderLines.OrderLine@OrderLines.OrderNum" onclick="PickLineItem(@OrderLines.OrderNum,@OrderLines.OrderLine)">Pick</button>
                                    @*<button class="accordion" id="PickButton+@OrderLines.OrderLine@OrderLines.OrderNum">Pick</button>*@
                                <div class="panel">
                                        <p>
                                            <a asp-area="" asp-controller="AdminBackEnd" asp-action="Dashboard">Quarentine</a>
                                            <a asp-area="" asp-controller="AdminBackEnd" asp-action="Dashboard">Replenish</a>
                                            <a asp-area="" asp-controller="AdminBackEnd" asp-action="Dashboard">Inventory Control</a>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>              
            </div>
        </div>
    </div>
    <a class="btn btn-info-grey">Complete Pick</a>
    <!-- Bootstrap core JavaScript -->
    <script src="~/jquery.min.js"></script>
    <script>
        var TotalLines = 0;
        var PickLineItem = function (ordernum, orderline) {
            debugger;
            console.log(orderline);
            var orderlinebutton = document.getElementById('PickButton+' + orderline + ordernum);
            console.log(orderlinebutton);
            if (orderlinebutton.innerText == "Picked") {
                //orderlinebutton.style.backgroundColor = "green";
                orderlinebutton.innerText = "Pick";
                orderlinebutton.style.backgroundColor = "#87CEEB";
                TotalLines--;
                console.log(TotalLines);
                if (TotalLines == 0) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/UnPickLineItem/",
                        data: { id: ordernum, orderline: orderline },
                        success: function (response) {
                            //alert(response.responseText);
                            console.log('Unprocessing  Successful');
                        }
                    });
                }
            }
            else {               
                orderlinebutton.innerText = "Picked";
                orderlinebutton.style.backgroundColor = "green";
                $.ajax({
                    type: "POST",
                    url: "../../Picker/PickLineItems",                    
                    data: {
                        ordernum: ordernum,
                        orderline: orderline
                    },

                    success: function (response) {
                        alert(response);

                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
                TotalLines++;
            }
        }
    </script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>

</html>
