@model DotIt.AutoPicker.Models.PickerModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <script src="~/jquery.min.js"></script>
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <style>
        .emprole {
            max-width: 250px;
        }
    </style>
</head>
<body>
    <div class="container">
        @*<div>
            <span><h3>Pickers</h3></span>
            <p style="margin-top: -41px;text-align: -webkit-right;">
                User: @ViewBag.UserName  |
                <a href="~/Admin/LogOut/@ViewBag.LogInName">LogOut</a>
            </p>
        </div>*@
        <label>Name : </label>
        <input type="hidden"  name="DcdUserID" id="DcdUserID" value="@Model.DcdUserID" />
        <input type="text" class="emprole" name="Name" id="NameTextBox" value="@Model.Name" /><br /><br />
        <label>Email : </label>
        <input type="text" name="Email" id="EmailTextBox" class="emprole" value="@Model.EMailAddress" /><br /><br />
        <label>
            Role :  <select class="form-control emprole" id="RoleSelect">
                <option value="BAS">Basic Picker</option>
                <option value="EXP">Experienced Picker</option>
                <option value="SEN">Senior Picker</option>
                <option value="NCC">NCCO Picker</option>
            </select>
        </label>
        <br /><br />
        <label>Pick : </label>

        @*<input type="checkbox" id="NCCOCheckbox" value="NCCO" />NCCO
        <input type="checkbox" id="DotItCheckbox" value="DotIt" />DotIt<br /><br />*@
        <label>Max Lines : </label>
        <input type="number" id="MaxLines" value="@Model.MaxLines" /><br /><br />
        <label>Max Weight :</label>
        <input type="number" id="MaxWeight" value="@Model.MaxWeight" /><br /><br />
        <label>Lines per Hour : </label>
        <input type="number" id="LinesPerHour" value="@Model.AdminlineperHour" />

        <br /><br />
        <button class="btn-info-grey" onclick="Cancel()">CANCEL</button>
        <button class="btn-style-grey" style="margin-left:10px" onclick="UpdateProfile()">SAVE</button>
    </div>

    <script>
        @*$("select option[value='@ViewBag.EmployeeDetails.Role']").attr("selected", "selected");
        if ('@ViewBag.EmployeeDetails.Pickncco'== "True") {
            $("#NCCOCheckbox").prop('checked', true);
        }
        if ('@ViewBag.EmployeeDetails.Pickdotit'== "True") {
            $("#DotItCheckbox").prop('checked', true);
        }*@
        var UpdateProfile = function () {
            debugger;
            var name = $("#NameTextBox").val();
            var email = $("#EmailTextBox").val();
            var role = $("#RoleSelect").children("option:selected").val();
            var NCCO = $("#NCCOCheckbox").prop("checked");
            var DotIt = $("#DotItCheckbox").prop("checked");
            var maxLines = $("#MaxLines").val();
            var maxWeight = $("#MaxWeight").val();
            var LinesPerHour = $("#LinesPerHour").val();
            var dcdUserID = $("#DcdUserID").val();
            //var Id =model.Empid;
            var Id = "";
            $.ajax('../../Admin/SaveProfile',
                {
                    data: {
                        Empid:Id,
                        Name: name,
                        EMailAddress: email,
                        Grouplist: role,
                        Pickncco: NCCO,
                        Pickdotit: DotIt,
                        MaxLines: maxLines,
                        MaxWeight: maxWeight,
                        AdminlineperHour: LinesPerHour,
                        DcdUserID: dcdUserID,
                    },
                    success: function (result) {
                        console.log(result);
                        if (result == "Profile updated") {
                            alert("Profile updated");
                            window.location.href = "/Admin/Home";                           
                        }
                    }
                })
        }
    </script>
</body>
</html>
